/*
Theme Name: Urban
Theme URI: http://themeskult.me/
Author: Ricardo Rauch (@themeskult)
Author URI: http://themeskult.com/
Description: Simple Theme
Version: v0.99
License: GNU General Public License
License URI: license.txt
Text Domain: urban
Domain Path: /languages/
Github Theme URI: https://github.com/themeskult/urban-theme
*/

/* Alignment */
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}

/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/* Clearing */
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: '';
	display: table;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}


/* =Menu
----------------------------------------------- */

.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
}
.main-navigation ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}
.main-navigation li {
	float: left;
	position: relative;
}
.main-navigation a {
	display: block;
	text-decoration: none;
}
.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	display: none;
	float: left;
	left: 0;
	position: absolute;
	top: 1.5em;
	z-index: 99999;
}
.main-navigation ul ul ul {
	left: 100%;
	top: 0;
}
.main-navigation ul ul a {
	width: 200px;
}
.main-navigation ul ul li {
}
.main-navigation li:hover > a {
}
.main-navigation ul ul :hover > a {
}
.main-navigation ul ul a:hover {
}
.main-navigation ul li:hover > ul {
	display: block;
}
.main-navigation li.current_page_item a,
.main-navigation li.current-menu-item a {
}

/* Small menu */
.menu-toggle {
	cursor: pointer;
	display: none;
}


/* =Content
----------------------------------------------- */

.sticky {
}
.hentry {
	margin: 0 0 1.5em;
}
.byline,
.updated {
	display: none;
}
.single .byline,
.group-blog .byline {
	display: inline;
}
.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}
.page-links {
	clear: both;
	margin: 0 0 1.5em;
}


/* =Asides
----------------------------------------------- */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}


/* =Media
----------------------------------------------- */

.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}
.wp-caption {
	border: 1px solid #ccc;
	margin-bottom: 1.5em;
	max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 1.2% auto 0;
	max-width: 98%;
}
.wp-caption-text {
	text-align: center;
}
.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}
.site-main .gallery {
	margin-bottom: 1.5em;
}
.gallery-caption {
}
.site-main .gallery a img {
	border: none;
	height: auto;
	max-width: 90%;
}
.site-main .gallery dd {
	margin: 0;
}
.site-main .gallery-columns-4 .gallery-item {
}
.site-main .gallery-columns-4 .gallery-item img {
}

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
	max-width: 100%;
}


/* =Navigation
----------------------------------------------- */

.site-main [class*="navigation"] {
	margin: 0 0 1.5em;
	overflow: hidden;
}
[class*="navigation"] .nav-previous {
	float: left;
	width: 50%;
}
[class*="navigation"] .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}


/* =Comments
----------------------------------------------- */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
}


/* =Widgets
----------------------------------------------- */

.widget {
	margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets */
.widget select {
	max-width: 100%;
}

/* Search widget */
.widget_search .search-submit {
	display: none;
}


/* =Infinite Scroll
----------------------------------------------- */

/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .paging-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
.infinity-end.neverending .site-footer {
	display: block;
}


body 
	color: #333;
	-webkit-font-smoothing: antialiased;  

h1,h2,h3,h4,h5,h6
	font-weight: bold;
	color: black;


a 
	color: #000;
	font-weight: bold
	text-decoration: none
	&:hover 
		color: blue;

.entry-content 
	a:hover
		text-decoration: underline


img 
	max-width: 100%;
	width: auto;
	height: auto;


blockquote
	border-left: 6px solid #1abc9c;
	padding-left: 20px;


header.site-header, footer.site-footer, .site-main [class*="navigation"].post-navigation
	max-width: 570px;
	margin-left: auto;
	margin-right: auto;

body 
	max-width: 570px;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 100px;
	margin-bottom: 100px;
	margin-left: 10%;
	margin-right: 10%;

header.site-header
	margin-bottom: 10px;
	.site-title 
		text-transform: uppercase;
		font-size: 13px;
		letter-spacing: 1px;
		display: inline-block
		float: left
		a 
			color: #000;
			text-decoration: none
	.site-description
		color: #666;
		font-size: 14px;
		line-height: 1.5;
		display: inline-block
		float: left
		a 
			font-weight: normal;
	nav.main-navigation 
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		text-align: right
		font-size: 13px;
		background: white;
		padding: 20px 0;

		li 
			margin-right: 30px;
			display: inline-block
			clear: none;
			float: none;

			a 
				font-weight: normal
				padding-bottom: 2px;
				-webkit-transition: all 0.3s ease;
				-moz-transition: all 0.3s ease;
				-ms-transition: all 0.3s ease;
				-o-transition: all 0.3s ease;
				transition: all 0.3s ease;
				display: inline-block
				&:hover 
					color: purple;
					border-color: #333;

			&.current_page_item
				a 
					border-color: black;
					color: black;


article, article.post
	.entry-meta 
		font-size: 12px;
		color: #999;
		a 	
			text-decoration: none
			color: #999;
			font-weight: normal


	.entry-content
		line-height: 1.7;

		code,pre
			border: none;
			background-color: #f8f8f8;
			padding: 0 10px;
			font-size: 13px;
			width: auto;
			display: inline-block;

		code
			border-radius: 4px;
		pre
			padding: 20px 30px;
			display: block;
			border-left: none;
			border-right: none;
			overflow-x: scroll;


		blockquote
			p:last-child
				margin-bottom:0

		p iframe,p object{display:block;margin:0;padding:0;width:100%;float:none}
		iframe, object
			display:block;margin:0;padding:0;max-width:100%;float:none
			iframe.twitter-tweet
				margin: auto;
				max-width: 570px;

		p iframe, p object{min-height:250px;min-width:0}
		.embed-container{ position:relative;  padding-bottom:56.25%; /* 16/9 ratio */ padding-top:30px; /* IE6 workaround*/ height:0;  overflow:hidden; margin-bottom:30px}
		.embed-container iframe, 
		.embed-container object, 
		.embed-container embed{ position:absolute;  top:0;  left:0;  width:100%;  height:100%}



	footer 
		display: none

.more-link
	margin-top: 20px;
	display: inline-block;
	color: blue;

body.home
	.post-home 
		a 
			display: block;
			font-weight: normal
			font-size: 14px;
			// padding: 14px;
			.date 
				font-weight: normal
				color: #666;
				font-size: 12px;
				padding-top: 2px;
				width: 140px;
				display: inline-block

			&:hover 
				color: blue;
				.date 
					color: blue;


iframe#twitter-widget-0.twitter-tweet.twitter-tweet-rendered
	max-width: 570px !important;
	margin: auto !important;

body.single 
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	header.site-header 
		nav, .site-description
			display: none

	article 
		margin-top: 40px;
		text-align: center

		.entry-title
			font-weight: 900;
			font-size: 90px;
			line-height: 1.2;
			margin: 0;

		.entry-header
			.entry-meta 
				opacity: 0;
				-webkit-transition: all 0.3s ease;
				-moz-transition: all 0.3s ease;
				-ms-transition: all 0.3s ease;
				-o-transition: all 0.3s ease;
				transition: all 0.3s ease;

			&:hover 
				.entry-meta
					opacity: 1;

		.entry-content
			font-size: 17px;
			p:first-child
				font-size: 20px;
				color: black;

		p, .entry-meta, .entry-title, h1,h2,h3,h4,h5,h6, pre, ul, ol, blockquote
			max-width: 580px;
			margin-left: auto;
			margin-right: auto;
			text-align: left;

		a 
			color: black;
			text-decoration: underline;
			font-weight: normal

		img
			margin: auto;
			margin: auto;
			max-width: 90%;
			text-align: center
			&.full-size
				max-width: 1200px;

		footer 
			display: block

			.author-box
				margin-top: 40px;
				margin-bottom: 40px;
				font-size: 120%;
				border-top: 1px solid #eee;
				border-bottom: 1px solid #eee;
				padding-top: 10px;
				padding-bottom: 26px;
				color: #666;
				position: relative;
				padding-left: 90px;

				img 
					border-radius: 3px;
					max-width: 60px;
					display: inline-block
					position: absolute;
					left: 0;
					top: 30px;
				h3 
					margin-bottom: 0px;
				p 
					margin-bottom: 20px;

#comments 
	display: none

footer.site-footer
	display: none


@media screen and (max-width: 500px)
	body.home .post-home a .date
		display: block
		margin-bottom: 5px;
	body.single article .entry-title 
		font-size: 50px;


